# Java build output
target/
!**/src/main/**/target/
src/main/resources/application.properties
!**/src/test/**/target/

# Log files
*.log
logs/

# OS/Environment
.DS_Store
Thumbs.db

# IntelliJ
.idea/
*.iml

# WSL/Ubuntu specific (occasionally created by JetBrains)
*.swp